

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  overflow-x: hidden;
}


.header-bg {
  background-image: url("./img/WhatsApp%20Image%202025-07-29%20at%2003.39.56_2afb8f07.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.header-bg a {
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 8px 20px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.3s ease;
  margin-right: 10px;
}


.header-bg a:hover {
  background-color: black;
  color: white;
}


.nav-2ndDiv a {
  text-decoration: none;
}

/* للشاشات الصغيرة */
@media (max-width: 991px) {
  .nav-2ndDiv a {
    display: block;
    margin: 5px 0;
  }

  .nav-2ndDiv .icon-link {
    display: inline-block;
  }

  .header-bg a {
    display: block;
    margin: 10px auto;
    text-align: center;
    width: 70%;
  }

  .header-bg h1,
  .header-bg p {
    text-align: center;
    margin-left: 0 !important;
  }
}



/* Our Best Seller Section */


.card-hover h4{
  width: 100%;
opacity: 0;
transition: 0.3s;

}

.card-hover:hover h4{
  opacity: 100%;
  background-color: rgba(0, 0, 0, 0.455);
}



.better-bg{
  background-image: url("./img/recycled-shoe-store-cta-image-bg.jpg");
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.better-bg a{
   text-decoration: none;
  background-color: white;
  color:black;
  padding: 5px 15px;
  font-size: large;
  transition: 0.3s; 
  margin: 10px 0;
}

.better-bg a:hover {
  background-color: black;
  color: white;

}