*{
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
}

@media (max-width:991px) {
  .nav-2ndDiv a {
    display: block;
    margin: 5px 0;
  }

  .nav-2ndDiv .icon-link {
    display: inline-block;
  }
}


.header-bg   {
  background-image: url("./img/WhatsApp\ Image\ 2025-07-29\ at\ 03.39.56_2afb8f07.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.header-bg a {
  text-decoration: none;
  background-color: white;
  color:black;
  padding: 5px 15px;
  font-size: large;
  transition: 0.3s;
}


.header-bg a:hover{

  background-color: black;
  color: white;
}
@media (max-width:991px){
  .header-bg a  {
    display: block;
    margin: 10px 0;
    position: relative;
    right: 20px;
    text-align: center;

  }
}


/* Our Best Seller Section */


.card-hover h4{
  width: 100%;
opacity: 0;
transition: 0.3s;

}

.card-hover:hover h4{
  opacity: 100%;
  background-color: rgba(0, 0, 0, 0.455);
}



.better-bg{
  background-image: url("./img/recycled-shoe-store-cta-image-bg.jpg");
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.better-bg a{
   text-decoration: none;
  background-color: white;
  color:black;
  padding: 5px 15px;
  font-size: large;
  transition: 0.3s; 
  margin: 10px 0;
}

.better-bg a:hover {
  background-color: black;
  color: white;

}